---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('January 21 2024')}
	heroImage="/about-image1.jpg"
>
<h4>About me</h4>	
<p>
	Je m'appelle Myriam Rey, j'ai 26 ans et je suis étudiante en troisième année en Ingénierie des Médias à la HEIG-VD. Avant d'entreprendre cette formation, j'ai réalisé une année préparatoire et 5 semestres de Bachelor en Arts-Visuels à la HEAD-Genève. Même si je n'ai pas été jusqu'à l'obtention de mon diplôme en arts visuels, j'ai gardé un grand attachement pour tous les aspects esthétiques et de design qui nous entourent. Si j'ai trouvé en ingénierie des médias la dimension technique et méthodologique qui me manquait dans le domaine de l'art, je tiens cependant à marier ces deux domaines dans ma pratique future. C'est pourquoi mon intérêt pour le design reste vif, même si je favorise ses aspects en lien avec la communication, le marketing et le développement web. 
	</p>
<h4>Ikigai</h4>
	<p>
		Mon ikigai ci-dessous rassemble mes passions et mes expériences (professionnelles et extraprofessionnelles) et présente le design comme un domaine qui pourrait correspondre au croisement entre les 4 axes principaux de l'Ikigai. J'ai l'habitude de développer un intérêt marqué pour les choses ou les domaines auxquels je touche concrètement. C'est pourquoi le domaine au centre, le design, peut sembler un peu vaste: je compte naviguer dans ses différents sous-domaines avant de trouver celui qui me correspond vraiment le mieux et qui mériterait sa place au centre de mon Ikigai.
		<br/> <br/>
		<img src="/about-ikigai.png" alt="Ikigai" />
	</p>
<h4>Domaine choisi</h4>
	<p>
		Le domaine que j'ai choisi est celui du design. Le domaine du design est vaste et englobe une multitude de disciplines créatives axées sur la résolution de problèmes, l'esthétique et la communication visuelle. Voici les sous-domaines du design que j'apprécie particulièrement: 
	</p>
<h5>Design graphique</h5>
	<p>
		Le design graphique se concentre sur la création visuelle d'éléments de communication. Cela inclut la conception de logos, d'affiches, de brochures, de sites web, et d'autres supports visuels.
	</p>
<h5>Design d'interaction (UX/UI)</h5>
	<p>
		Le design d'interaction se consacre à l'expérience utilisateur (UX) et à la conception d'interfaces utilisateur (UI) dans les applications et les sites web. Il vise à rendre l'interaction entre l'utilisateur et le produit aussi fluide et agréable que possible. 
	</p>
	<h5>Design d'expérience</h5>
	<p>
		Le design d'expérience élargit la perspective du design pour inclure l'ensemble du parcours client, des interactions avec un produit ou service, à l'environnement dans lequel il est utilisé.
	</p>
	<h5>Design de communication</h5>
	<p>Le design de communication englobe la conception visuelle d'éléments tels que les publicités, les emballages de produits, et les supports marketing. Il demande une approche créative tout comme une bonne compréhension du marketing et du comportement des utilisateurs. 
	</p>
	<h5>Design Web</h5>
	<p>Le design web se concentre sur l'aspect visuel et fonctionnel des sites web. Il intègre souvent des éléments de design d'interaction pour améliorer l'expérience utilisateur. Il va souvent de pair avec le design d'interaction. 
	</p>
	<h4>Choix du SSG</h4>
	<p>J'ai choisi Astro en raison de sa facilité d'utilisation. Comme ce rendu est axé principalement sur le contenu écrit plutôt que sur la forme du site web, j'ai choisi un modèle très simple qui remplisse le rôle de blog. La rédaction des articles de blog au format markdown me permet de concentrer mes efforts sur la rédaction du contenu plus que sur la mise en plage du site. </p>
</Layout>
