---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Laboratoire de Veille Technologique</h1>
			<p>
				Bienvenue sur ce site dédié à ma veille technologique. Vous y trouverez des articles résumant plusieurs sources d'informations intéressantes sur le domaine du design.
			</p>
			<p>
				Ces articles ont été retenus lors d'un processus de veille technologique. Ce processus consiste à identifier des sources d'informations pertinentes, à les lire, à les analyser et à les synthétiser. Il permet de rester à jour sur les dernières tendances et les dernières technologies dans un domaine donné.
			</p>
		</main>
		<Footer />
	</body>
</html>
